/*Barra*/
html{
overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
@font-face {
  font-family:Hades;
  src: url("../Fonts/HadesFont.ttf");
}
@font-face {
  font-family:Spectral;
  src: url("../Fonts/SpectralSC-Light.ttf");
}
.html1{
  cursor: url("../Cursores/CursorDefault.cur"), default;
}
.html2{
  cursor: url("../Cursores/CursorDefault_HighContrast.cur"), default;
}
.html3{
  cursor: url("../Cursores/CursorFreeAim.cur"), default;
}
.html4{
  cursor: url("../Cursores/CursorAttack_HighContrast.cur"), default;
}
.html5{
  cursor: url("../Cursores/CursorDefault.cur"), default;
}
.body1 {
	background-image: url("../img/hades3.png");
  background-attachment: fixed;
}
.body2 {
	background-image: url("../img/hades2.png");
  background-attachment: fixed;
}
.body3 {
	background-image: url("../img/hades11.png");
  background-attachment: fixed;
}
.body4 {
	background-image: url("../img/hades5.png");
  background-attachment: fixed;
}
.body5 {
	background-image: url("../img/hades9.png");
  background-attachment: fixed;
}
nav {
	margin-top:0px;
	position: relative;
	text-transform: uppercase;
}
.tabla li {
  display: inline-block;
  list-style: outside none;
  margin: 8px 8px;

}

.tabla a {
  color: lightgrey;
  position: relative;
  font-size: 25px;
  font-style: italic;
  font-family:Hades;
  
}

.tabla a:hover {
  color: goldenrod;
  background-color: rgb(145, 1, 1,0.2);
  border:1px solid;
  border-radius: 10%;
  cursor: url("../Cursores/CursorAttack.cur"), default;
}
.tabla .a3:hover {
  color: rgb(33, 240, 60);
  background-color: rgba(33, 240, 60, 0.2);
  cursor: url("../Cursores/CursorFreeAim.cur"), default;
}
.tabla .a2:hover {
  color: rgba(33, 240, 161);
  background-color: rgba(33, 240, 161, 0.2);
  cursor: url("../Cursores/CursorAttack_HighContrast.cur"), default;
  
}
.tabla .a4:hover {
  color: rgb(235, 217, 116);
  background-color: rgba(63, 26, 124, 0.2);
  cursor: url("../Cursores/CursorAttack_HighContrast.cur"), default;
}
.tabla .a5:hover {
  color: rgb(163, 177, 238);
  background-color: rgba(42, 23, 110, 0.2);
  cursor: url("../Cursores/CursorAttackPress.cur"), default;
}
area{
  cursor: url("../Cursores/CursorAttackPress.cur"), default;
}
.tabla{
  position:static;
}
nav ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}

nav > ul > li {
	float:left;
}

nav ul li a {
	text-decoration:none;
	color:#fff;
	display:block;
	padding:10px 20px;
}

	

nav > ul > li:hover div {
	display:table;
}
/*Tablas*/

.div1{
  height: 1px;
  width: 11.5%;
  border-top: 5px solid rgb(185, 25, 25,0.7);
  position:fixed;
  
  
}
.div2{
  height: 1px;
  width: 11.5%;
  border-top: 5px solid rgb(32, 178, 170,0.7);
  position:fixed;
}
.div3{
  height: 1px;
  width: 11.5%;
  border-top: 5px solid rgb(0, 128, 0,0.7);
  position:fixed;
}
.div4{
  height: 1px;
  width: 11.5%;
  border-top: 5px solid rgba(34, 24, 126, 0.7);
  position:fixed;
}
.div5{
  height: 1px;
  width: 11.5%;
  border-top: 5px solid rgb(45, 45, 90,0.7);
  position:fixed;
}

.div{
  color: rgb(255, 255, 255);
  margin-right: 15%;
  margin-left:  20%;
  font-size: 30px;
  font-family:Spectral;
  border-style: solid;
  border-width: 70px;
  border-image-source: url('../img/marco.png');
  border-image-slice: 100 100;
}
.Bienvenidos{
  font-family: Hades;
  margin-right: 1%;
  margin-left: 1%;
}
.inicio{
  margin-right: 1%;
  margin-left: 1%;
  font-size: 25px;
}
.Sitios{
  cursor: url("../Cursores/CursorAttack.cur"), default;
}
.Sitio{
  margin-left: 1%;
  margin-bottom: 1%;
  cursor: url("../Cursores/CursorAttack.cur"), default;
}
.t{
  width: 100%;
  height: 100%;
  border-radius: 1%;
  background-color:rgba(0, 0, 0, 0.6) ;
  border: 10px rgba(0, 0, 0, 0.6) solid;
}

.video1{
  margin-right: 1%;
  margin-left: 5%;
  border-width: 100px;
  border-image-source: url('../img/marco2.png');
  border-image-slice:100 100;
}
.divv{
  color: rgb(255, 255, 255);
  margin-right: 5%;
  margin-left:  20%;
  font-size: 30px;
  font-family:Spectral;
  border-style: solid;
  border-width: 70px;
  border-image-source: url('../img/marco.png');
  border-image-slice: 100 100;

}
.textop{
  margin-left: 5%;
}
.textopp{
  margin-left: 20%;
}
.CoLinks {
  color:rgb(0, 255, 170);
}
.CoLinks:hover {
  color:white;
}

.CoLinks2 {
  color:#EFBD85;
}
.CoLinks2:hover {
  color:rgb(255, 255, 255);
}
.CoLinks3 {
  color:#1f95a7;
}
.CoLinks3:hover {
  color:rgb(255, 255, 255);
}
.CoLinks4 {
  color:rgb(183, 4, 254);
}
.CoLinks4:hover {
  color:rgb(1, 0, 1);
}

.boton{
  margin-right: 90%;
  margin-left:  33.5%;
  transition-duration: 0.4s;
  width: 35.7%;
  display: block;
  font-family:Spectral;
  background-image: url("../img/Button.png");
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  color:rgb(136, 9, 186);
}
.boton2{
  margin-right: 90%;
  margin-left:  20%;
  transition-duration: 0.4s;
  width: 60%;
  display: block;
  font-family:Spectral;
  background-image: url("../img/Button.png");
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  color:#1f95a7;
  background-repeat: no-repeat;
  background-size: 500px;
  font-size: 30px;
}
.boton3{
  margin-right: 90%;
  margin-left:  3%;
  transition-duration: 0.4s;
  width: 35.7%;
  display: block;
  font-family:Spectral;
  background-image: url("../img/Button.png");
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  color:rgb(136, 9, 186);
}
.boton:hover{
  background-image: url("../img/Button_selected.png");
  transition: 0.5s;
}
.boton2:hover{
  background-image: url("../img/Button_selected.png");
  transition: 0.5s;
}
.boton3:hover{
  background-image: url("../img/Button_selected.png");
  transition: 0.5s;
}
.divvv{
    color: rgb(255, 255, 255);
    margin-right: 15%;
    margin-left:  20%;
    font-size: 30px;
    font-family:Spectral;
    border-style: solid;
    border-width: 70px;
    border-image-source: url('../img/marco.png');
    border-image-slice: 100 100;
}
table{
  text-align: center;
}
section{
  display: flex;
}
.divc{
  flex: 1;
  margin-left:  20%;
  font-size: 30px;
  font-family:Spectral;
  border-style: solid;
  border-width: 70px;
  border-image-source: url('../img/marco.png');
  border-image-slice: 100 100;
}
.colorBen{
  color:#EFC58D;
}
.colorH{
  color:#ba08fb;
}
.divcc{
    flex: 2;
    color: rgb(255, 255, 255);
    margin-right: 5%;
    margin-left:  5%;
    font-size: 30px;
    font-family:Spectral;
    border-style: solid;
    border-width: 70px;
    border-image-source: url('../img/marco.png');
    border-image-slice: 100 100;
  
}
.dix{
  color: rgb(255, 255, 255);
  margin-right: 20%;
  margin-left:  20%;
  border-style: solid;
  border-width: 70px;
  border-image-source: url('../img/marco.png');
  border-image-slice: 100 100;
  float: auto;
}
fieldset{
    margin-left: 500px;
    margin-right: 500px;
}
td, th{
border: 2px solid white;
padding: 20px;
}
.fieldset{
  font-size: 15px ;
  font-family:Spectral;
  margin-top: 5%;
  margin-right: 90%;
  margin-left:  30%;
  border-width: 50px;
  border-image-source: url('../img/marco4.png');
  border-image-slice: 50 50;
}
.fieldset1{
  font-size: 20px;
  font-family: hades;
  color: #c374e0;
}
.field{
  font-family: Hades;
  font-size: 70px;
  padding-left: 3%;
}
.imgg{
  float: right;
}
.img1{
  opacity: 0.8;
  cursor: url("../Cursores/CursorAttack.cur"), default;
}
.table1{
  color: #ba08fb;
  border-color:rgb(88, 30, 146,0.6);
  border-width: 20px;
  border-image-source: url('../img/marco3.png');
  border-image-slice: 80 80;
}
.table2{
  color: rgb(16, 222, 122);
  border-color:rgb(42, 152, 124,0.6);
  border-radius: 2%;
  width: 300px;
  margin-left:14%;
  font-size: 40px;
}
.table22{
  color: rgb(16, 222, 122);
  border-color:rgb(42, 152, 124,0.6);
  border-radius: 2%;
  width: 300px;
  margin-left:1%;
}
.table222{
  color: rgb(16, 222, 122);
  border-color:rgb(42, 152, 124,0.6);
  border-radius: 2%;
  width: 300px;
  margin-left:23%;
  font-size: 40px;
}
.table3{
  color: rgb(16, 222, 122);
  border-color:rgb(42, 152, 124,0.6);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
.table4 {
  color: rgb(88, 189, 111);
  border-color:rgb(14, 114, 38,0.6);
  margin-left: 1%;
  margin-right: 1%;
  border-width: 10px;
  border-image-source: url('../img/marco2.png');
  border-image-slice: 1 50;
  cursor: url("../Cursores/CursorFreeAim.cur"), default;
}

.table4 a{
  cursor: url("../Cursores/CursorFreeAim.cur"), default;
}
.mapa{
  margin-left: 25%;
  font-family: Hades;
  font-size: 80px;
}
ol{
  font-size: 30px;
  margin-right: 30%;

}
.ol{
  font-size: 35px;
  margin-right: 0%;
}